.profile {
  background: rgb(187, 185, 185);
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  width: 250px;
  box-shadow: inset 5px 5px 10px rgb(245, 243, 243);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.description {
  padding-bottom: 10px;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  background: rgb(192, 18, 18);
  

}
.label {
  font-weight: bold;
  padding-bottom: 4px;
}
.stats {
  list-style: none;
  padding: 30px 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.stats li {
  flex: 1;
  display: flex;
  padding: 12px 0;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgb(19, 1, 1);

}

.name {
  font-size: 30px;
  font-weight: bold;
}

.tag {
  font-size: 12px;
}

.location{
  font-size: 12px;
}